[Time]
# This is implementation not yet added.
current_time = true

# ------ Start Customizing ----------
# Days till first booking
advance = 5

# How many dates in the future do you want to book?
dates_number = 2

# Standard duration (Must not exceed 04:00 hours)
duration = 04:00

[From]
# What hours you want booked
first_time = 10:00
second_time = 14:00

[Room]
building = Geologi
room_number = 470
seat = 1
room_id = 306470

[Info]
description = Skolearbeid
note = Vanlig skolearbeid

[User]
# Username must be inputted, password should be left blank unless you are not afraid to lose access to your account.
username = YourUsername
password =

# --------- Everything from here and below should probably not be edited. ---------
[Options]
iOS = False
desktop = True

[Website]
base_url = https://tp.uio.no/ntnu/rombestilling/?
auth_url = https://idp.feide.no/simplesaml/module.php/feide/login
auth_second_url = https://tp.uio.no/simplesaml/module.php/saml/sp/saml2-acs.php/feide-sp

[Specific info]
# I dont think these are in use at the moment.
days = [Tuesday, Wednesday, Thursday, Friday]